@import '../../globals';

.Category__nav {
    padding-top: 50px;
    
    h4 {
        color: $gray-black-light;
        padding: 1em;
    }
}

.Category__list {
    color: black;
    font-weight: bold;
    font-family: Roboto;
    display: block;
    padding-left: 20px;
    margin-bottom: 10px;
    text-decoration: none;
    
    &:after {
        content: '';
        left: 0;
        position: absolute;
        text-decoration: none;
        top: calc(100% + 10px);
        width: 100%;
    }

    &:first-child {
        border-bottom: 2.5px solid $gray-light-border;
        padding-bottom: 20px;
    }

    i {
        background: $gray-light-dark;
        border-radius: 50%;
        color:  $white-color;
        font-size: 19px;
        margin-right: 20px;
        padding: 12px;
    }

    &--active  {
        background: $gray-ligh-active;
        color: $gray-black-dark-bold;
        display: block;
        font-weight: bold;
        font-family: Roboto;
        margin-bottom: 8px;
        padding-left: 20px;
        text-decoration: none;
        
        &:after {
            content: '';
            left: 0;
            position: absolute;
            text-decoration: none;
            top: calc(100% + 10px);
            width: 100%;
        }
    
        &:first-child {
            border-bottom: 2.5px solid $gray-light-border;
            padding-bottom: 20px;
        }
    
        i {
            background: $gray-light-dark;
            border-radius: 50%;
            color:  $white-color;
            font-size: 18px;
            padding: 12px;
            margin-right: 20px;
        }
    }
}
