
// variables
$black-color: #000;
$gray-black-header: #8b8b8b;
$gray-black-light: #969696;
$gray-black-dark-bold: #343434;
$gray-ligh-active: #e0e0e0;
$gray-light-border: #ebebeb;
$gray-light-color: #c8c8c8;
$white-color: #eff1ee;
$gray-light-dark: #616161;

