@import '../../styles/globals';

.emptyState {
    position: absolute;
    text-align: center;
    top: 50%;

    &__state {
        color: $gray-black-header;
        font-size: 100px;
    }

    &__message {
        color: $gray-black-dark-bold;
        font-size: 60px;
        margin-top: 50px;
    }
}