
@import '../../globals';

.products__categorySection {
    border-right: 2px solid $gray-light-border;
    display: inline-block;
    height: 100%;
    padding: 15px 0;
    position: fixed;
    width: 30%;
}

.products__mainSection {
    display: inline-block;
    margin-left: 30%;
    padding: 15px 15px;
    width: 70%;

    header {
        padding: 0 18px;
    }
}

.products__toolbar {
    padding: 4% 8% 0 0;

    div {
        display: inline-block;

        i {
            cursor: pointer;
        }
    }

    .products__viewControls {
        width: 50%;

        i{
            &:first-child {
                margin-right: 25px;
            }
        }
    }
    .products__searchInputContainer {
        float: right;
        width: 30%;

        .products__searchInput {
            background-color: transparent;
            border: none;
            border-bottom: 1px solid $gray-ligh-active;
            color: $gray-black-light;
            font-size: 12px;
            outline: none;
            padding-bottom: 8px;
            width: 100%;
        }
    }
}

.product__list {
    height: calc(100vh - 160px);
    overflow-y: scroll;
    padding: 1em;
}

.products__searchInput {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $gray-light-border;
    color: $gray-light-border;
    display: inline-block;
    font-size: 12px;
    margin-left: 30%;
    outline: none;
    padding: 15px 15px;
    padding-bottom: 8px;
    width: 100%;
}
    
.products__viewControls--iconInactive {
    color: $gray-black-light;
}

.products--stateLoading {
    position: absolute;
    top: 50%;
    left: 50%;
}
    