
@import '../../globals';

.products__categorySection {
    display: inline-block;
    padding: 15px 0;
    position: fixed;
    width: 30%;
}

.products__mainSection {
    border-left: 2px solid $gray-light-border;
    display: inline-block;
    margin-left: 30%;
    padding: 15px 15px;
    width: 70%;

    header {
        padding: 1em;
    }
}

.products__toolbar {
    padding: 30px 0;

    div {
        display: inline-block;

        i {
            cursor: pointer;
        }
    }

    .products__viewControls {
        width: 60%;
    }

    .products__searchInput {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid $gray-ligh-active;
        color: #9e9e9e;
        font-size: 12px;
        outline: none;
        padding-bottom: 8px;
        width: 100%;
    }
}

.product__input__search {
    float: right;
    padding-right: 1em;

    hr {
        margin: 3px
    }
    input {
        margin: 3px;
    }
}

.product__list {
    height: calc(100vh - 160px);
    overflow-y: scroll;
    padding: 1em;
}

.products__searchInput {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $gray-light-border;
    color: $gray-light-border;
    display: inline-block;
    font-size: 12px;
    margin-left: 30%;
    outline: none;
    padding: 15px 15px;
    padding-bottom: 8px;
    width: 100%;
}
    
.products__viewControls--iconInactive {
    color: $gray-light-dark;
}
    